html, body {
    margin: 0;
}

/* ------ Module 1 ------ */
h1 {
    font-family: serif;
    font-weight: 100;
    color: white;
    font-size: 80px;
    border: solid white 1px;
    position: relative;
    margin: 0 auto; /*horiz centering!*/
    padding: 0px 36px 0px 36px; /* top right bottom left */
    width: 400px;
}
#Mod1 {
    width: 100%;
    height: 500px;
    text-align: center;
    padding-top: 300px; /*vert center-ish h1, better way?*/
}

/* ------ Module 2 ------ */
#menu { /* link box */
    height: 50;
    width: 200;
    margin: 0 auto;
    text-align: center;
    padding-top: 50px;
}

a, h2 {
    padding-top: 20px;
    display: inline-block;
}

#menu a { /* links */
    text-decoration: none;
    color: black;
}

#menu a:hover {
    color: darkgrey;
}

#menu h2 { /* the | spacers */
    font-size: 12;
}


#content-box { 
    width: 940px;
    margin: 0 auto;
}
.card {
    display: inline-block;
    margin: 0 auto;
    padding: 10px;
    margin: 0px 20px 0px 20px;
    opacity: 0;
    transform: translateX(20px); /*animation*/
    transition: all 0.3s ease-in-out;
}

.card img {
    position: relative;
    width: 250px;
    height: auto;
}

.is-showing { /*animation trigger*/
    opacity: 1;
    transform: translateX(0px);
}